name: Disable Workflow Video

on:
  push:
    branches: [ main ]

  jobs:
    disable:
      runs-on: ubuntu-latest

      steps:
        - name: Rohit
          run: echo "Disable Workflow Video DevOps"
